p {
    margin: 0.5em 0;
}

ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

.katex-display {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}